MyBot
Makefile
*.hlt
*.log
*~
*.pyc
*.pyo
__pycache__/
*.class
*.ipr
*.iws
run_game.sh
replays
bad.py
.idea/*
*.pyc
hlt/__pycache__/*.pyc
hlt/__pycache__/game_map.cpython-36.pyc
hlt/__pycache__/entity.cpython-36.pyc
hlt/__pycache__/entity.cpython-36.pyc
hlt/__pycache__/game_map.cpython-36.pyc
*.pyc
hlt/__pycache__/game_map.cpython-36.pyc
hlt/__pycache__/game_map.cpython-36.pyc
*.pyc
*.xml
halite-bot.zip
*.pyc
DropoffClassifier/hlt_client/bin/hlt
DropoffClassifier/hlt_client/build/lib/hlt_client/__init__.py
DropoffClassifier/hlt_client/build/lib/hlt_client/__main__.py
DropoffClassifier/hlt_client/build/lib/hlt_client/client.py
DropoffClassifier/hlt_client/build/lib/hlt_client/compare_bots.py
DropoffClassifier/hlt_client/build/lib/hlt_client/download_game.py
DropoffClassifier/hlt_client/build/lib/hlt_client/gym.py
DropoffClassifier/hlt_client/build/lib/hlt_client/output.py
DropoffClassifier/hlt_client/build/lib/hlt_client/upload_bot.py
DropoffClassifier/hlt_client/build/lib/hlt_client/util.py
DropoffClassifier/hlt_client/build/scripts-3.6/hlt
DropoffClassifier/hlt_client/dist/hlt_client-1.1.0-py3.6.egg
DropoffClassifier/hlt_client/hlt_client.egg-info/dependency_links.txt
DropoffClassifier/hlt_client/hlt_client.egg-info/not-zip-safe
DropoffClassifier/hlt_client/hlt_client.egg-info/PKG-INFO
DropoffClassifier/hlt_client/hlt_client.egg-info/requires.txt
DropoffClassifier/hlt_client/hlt_client.egg-info/SOURCES.txt
DropoffClassifier/hlt_client/hlt_client.egg-info/top_level.txt
DropoffClassifier/hlt_client/hlt_client/__init__.py
DropoffClassifier/hlt_client/hlt_client/__main__.py
DropoffClassifier/hlt_client/hlt_client/client.py
DropoffClassifier/hlt_client/hlt_client/compare_bots.py
DropoffClassifier/hlt_client/hlt_client/download_game.py
DropoffClassifier/hlt_client/hlt_client/gym.py
DropoffClassifier/hlt_client/hlt_client/output.py
DropoffClassifier/hlt_client/hlt_client/upload_bot.py
DropoffClassifier/hlt_client/hlt_client/util.py
DropoffClassifier/hlt_client/README.md
DropoffClassifier/hlt_client/requirements.txt
DropoffClassifier/hlt_client/setup.py
*.xml
*.json
*.pyc
HeuristicVisualization/Data/GameMap1.npy
*.npy
HeuristicVisualization/Visualizer.py
illegalBot.py
*.iml
.idea/modules.xml
